.leftSideBar {
  width: 230px;
  height: 100vh;
  padding: 30px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #ffffff;

  button {
    background-color: #ffb400;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
    border: none;
    width: 100%;
  }

  .skillBlock {
  }
}