.socialLinkList {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
  a {
    padding: 7px;
    background-color: #ffb400;
    color: #000000;
    text-decoration: none;
    border-radius:100px;
  }
  img {
    width: 17px;
    height: 13px;
  }

}

